<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <h1>订单列表</h1>
  <ul id="box"></ul>

</body>

</html>
<script>
  async function getOrderList() {
    const token = localStorage.getItem('token');
    await fetch('/order/list?uid=1', {
      method: 'get',
      headers: {
        'authorization': 'Bearer ' + token,
        'Content-Type': 'application/json'
      },
    }).then(res => {
      return res.json()
    }).then(res => {
      document.getElementById('box').innerHTML = res.data.map(item =>
        `<li>${item.orderName}  价格：${item.total}</li>`)
      console.log(res)
    })
  }
  getOrderList()
</script>